.childTable td{
    padding: 2%;
    width: 100%;
    border-collapse: collapse;
}
.long {
    /* height: 150px; */
    width: 100%;
    word-wrap: normal;
    text-align: start;
    word-break: normal;
    overflow-wrap: break-word;
    resize: none;
}
.dataInput{
    font-size: 1em;
}
.childTable{
    border-collapse: collapse;
}

.parentTable{
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

bottom{
    display:flex;
}